@font-face {
  font-family: "scriptina";
  src: url("../../scriptina.ttf");
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  text-decoration: none !important;
  font-size: 10px;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  height: 100vh;
  background-color: #ffffff;
}

.header {
  background-color: #2f4f4f;
  position: fixed;
  top: 0px;
  width: 100vw;
  height: 8vh; 
  margin: 0px;
  display: grid;
  grid-template-columns: 0.1fr 1fr 4fr ;
  grid-template-rows: 1fr 1fr;
  overflow: visible ;
  border-bottom: 0.2em solid #ffefd5;

}


.title:hover{cursor: pointer;}
.title {
  grid-row: 1;
  grid-column: 2;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  font-family: scriptina;
  font-size: 35px;
  color: #ffefd5;
  background-color: transparent;
  overflow: visible;
  text-wrap: nowrap;
  margin-top: -25px;



}

.links {
  background-color:transparent;
  grid-row: 1;
  grid-column: 4;
  width: 45vw;
  height: 8vh;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly ;
  align-items: center;


}

.button {
  color: #ffefd5;
  height: 100%;
  font-size: 2em;
  font-family: "Courier New", Courier, monospace;
  margin: 0px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: bold;

}

.container { 
  background: url(../ressource/paysage.jpg) no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  margin-top: 8vh;
  width: 100%;
  height: 40%;
  display: flex; 
  justify-content: end; 
  align-items: center; 
  background-color: #ffefd5;
  overflow: hidden; 
  border:none;
  flex-direction: column;  
  
}

.frise {
  
  background-color:#ffefd5;
  grid-row: 1;
  grid-column: 4;
  width: 100vw;
  height: 7vh;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly ;
  align-items: center;


}

.lettres {
  color:#2f4f4f;
  height: 100%;
  font-size: 2em;
  font-family: "Courier New", Courier, monospace;
  margin: 0px 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  letter-spacing: 3.5vw;

}

.contenue {
  background-color: #2f4f4f;
  width: 100%;
  height: 50%;
  display: flex; 
  justify-content: end; 
  align-items: center; 
  overflow: hidden; 
  border:none;
  flex-direction: column;

}

.fond-contact { 
  background: url(../ressource/vue.jpg) no-repeat;
  background-position: 0% 70%;
  background-size: cover;
  margin-top: 8vh;
  width: 100%;
  height: 40%;
  display: flex; 
  justify-content: end; 
  align-items: center; 
  background-color: #ffefd5;
  overflow: hidden; 
  border:none;
  flex-direction: column;  
  
}






  













/* 
.paysage {
  position: absolute;
  top: -90px;
  left: 0px;
  font-size: 21px;
  text-decoration: NONE;
  width: 100%;
  height: auto;
}

.sous-titre {
  position: absolute;
  top: 200px;
  left: 200px;
  font-family: "Courier New", Courier, monospace;
  color: #ffefd5;
  font-size: 50px;
}

.bandeau2 {
  position: absolute;
  background-color: #2f4f4f;
  color: #ffefd5;
  text-align: left;
  top: 485px;
  left: 0px;
  right: 0px;
  height: 3000px;
  font-size: 27px;
  font-family: "Courier New", Courier, monospace;
  z-index: 1;
}

.texte1 {
  text-align: left;
  font-family: "Times New Roman", Times, serif;
  color: #ffefd5;
  font-size: 20px;
  margin-top: 565px;
  margin-left: 300px;
  margin-right: 300px;
  z-index: 2;
  box-sizing: border-box;
  position: absolute;
}

.texte2 {
  text-align: left;
  font-family: "Times New Roman", Times, serif;
  color: #ffefd5;
  font-size: 20px;
  margin-top: 710px;
  margin-left: 300px;
  margin-right: 300px;
  z-index: 2;
  box-sizing: border-box;
  position: absolute;
}

.cabane {
  position: absolute;
  top: 965px;
  left: 0px;
  height: auto;
  width: 50%;
  z-index: 3;
}

.papa {
  position: absolute;
  top: 1540px;
  right: 0px;
  height: auto;
  width: 50%;
  z-index: 3;
}

.bandeau-bas {
  position: absolute;
  top: 3485px;
  left: 0px;
  width: 100%;
  height: 300px;
  background-color: #ffefd5;
  z-index: 5;
}

.social-icon {
  width: 40px;
  margin: 0 15px;
  transition: transform 0.3s ease;
}

.social-icon:hover {
  transform: scale(1.1);
} */